/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.row,
.container-fluid {
  margin: 0;
  padding: 0;
}
