$heading-color: #3eb1df;
$background-color: #21a5da;
$selected-day-color: #1c9dd1;
$day-color: #3eb1df;

.weather-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.title {
  background-color: $heading-color;
  width: 100%;
  height: 49px;

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 49px;
    margin: 0;
  }
}

.select-day-section {
  width: 100%;

  button {
    padding: 0;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color: $day-color; // background-color: $selected-day-color;
    height: 119px;
    font-size: 10px;
  }

  button:focus {
    background-color: $selected-day-color;
  }

  .select-section-weather-img {
    width: 60px;
    margin: -20px auto;
    padding: 30px 0 10px 0;
  }

  .date {
    display: block;
    padding-bottom: 25px;
  }
}

.main-window {
  flex-grow: 1;
  font-weight: 400;

  .weather-info {
    background-color: $background-color;
    text-align: center;
    z-index: 2;

    .weather-description {
      text-transform: capitalize;
      font-size: 20px;
      padding-top: 30px;
      letter-spacing: 1px;
    }

    .temperature {
      font-size: 85px;
    }

    .city {
      font-size: 15px;
    }
  }

  .weather-icon-section {
    position: relative;
    margin: auto;
    width: 225px;
    height: 170px;

    .circle-1 {
      position: absolute;
      width: 225px;
      height: 225px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.02;
      top: -30px;
      z-index: 1;
    }

    .circle-2 {
      position: absolute;
      top: -15px;
      left: 15px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.05;
      width: 195px;
      height: 195px;
      z-index: 2;
    }

    .circle-3 {
      position: absolute;
      top: -5px;
      left: 25px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.07;
      width: 173px;
      height: 173px;
      z-index: 3;
    }

    .circle-4 {
      position: absolute;
      top: 5px;
      left: 35px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.09;
      width: 150px;
      height: 150px;
      z-index: 4;
    }

    .circle-5 {
      position: absolute;
      width: 126px;
      height: 126px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.09;
      top: 17px;
      left: 47px;
      z-index: 5;
    }

    .weather-icon-section-img {
      position: absolute;
      width: 80px;
      top: 40px;
      left: 70px;
      z-index: 6;
    }
  }
}
