<div class="container-fluid weather-forecast">
    <div class="d-flex flex-row justify-content-center">
        <div class="col-xs-12 col-lg-6 col-xl-3 title">
            <h2>{{this.selectedDate[2] | fullDate}}</h2>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center main-window">
        <div class="col-xs-12 col-lg-6 col-xl-3 weather-info">
            <h3 class="weather-description" [@buttonState]="state">{{this.selectedDate[0]}}</h3>
            <div class="weather-icon-section">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <div class="circle-3"></div>
                <div class="circle-4"></div>
                <div class="circle-5"></div>
                <img class="weather-icon-section-img" src="{{this.selectedDate[3]}}" alt="" [@buttonState]="state">
            </div>
            <h3 class="temperature" [@buttonState]="state">{{this.selectedDate[1] | celsius}}</h3>
            <h3 class="city">{{this.weather?.city.name}}</h3>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center select-day-section">
        <button class="col-xs-4 col-lg-2 col-xl-1" *ngFor="let key of objectKeys(this.weather?.list)" (click)="onSelect(key); toggleState(key)">
            <img class="select-section-weather-img" src="{{getImgUrl(key)}}" alt="">
            <span class="date">{{this.weather?.list[key].dt | moment}}</span>
        </button>
    </div>
</div>


